	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/12/2016 04:51
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-agenda:before { content: "\f100"; }
.flaticon-agenda-1:before { content: "\f101"; }
.flaticon-animals:before { content: "\f102"; }
.flaticon-bird-in-love:before { content: "\f103"; }
.flaticon-bird-with-hearts:before { content: "\f104"; }
.flaticon-birds:before { content: "\f105"; }
.flaticon-birds-in-love:before { content: "\f106"; }
.flaticon-bridal-shoe:before { content: "\f107"; }
.flaticon-bride:before { content: "\f108"; }
.flaticon-calendar:before { content: "\f109"; }
.flaticon-calendar-1:before { content: "\f10a"; }
.flaticon-calendar-2:before { content: "\f10b"; }
.flaticon-clip:before { content: "\f10c"; }
.flaticon-clip-1:before { content: "\f10d"; }
.flaticon-clock:before { content: "\f10e"; }
.flaticon-clothes:before { content: "\f10f"; }
.flaticon-clothes-1:before { content: "\f110"; }
.flaticon-coffee:before { content: "\f111"; }
.flaticon-compass:before { content: "\f112"; }
.flaticon-compass-1:before { content: "\f113"; }
.flaticon-cute:before { content: "\f114"; }
.flaticon-date:before { content: "\f115"; }
.flaticon-days:before { content: "\f116"; }
.flaticon-gallery:before { content: "\f117"; }
.flaticon-greeting-card:before { content: "\f118"; }
.flaticon-heart-rate-monitor:before { content: "\f119"; }
.flaticon-interface:before { content: "\f11a"; }
.flaticon-medical:before { content: "\f11b"; }
.flaticon-meeting-point:before { content: "\f11c"; }
.flaticon-people:before { content: "\f11d"; }
.flaticon-photo:before { content: "\f11e"; }
.flaticon-picture:before { content: "\f11f"; }
.flaticon-ring:before { content: "\f120"; }
.flaticon-ring-1:before { content: "\f121"; }
.flaticon-shapes:before { content: "\f122"; }
.flaticon-social:before { content: "\f123"; }
.flaticon-table:before { content: "\f124"; }
.flaticon-technology:before { content: "\f125"; }
.flaticon-time:before { content: "\f126"; }
.flaticon-two:before { content: "\f127"; }
.flaticon-two-1:before { content: "\f128"; }
.flaticon-two-2:before { content: "\f129"; }
.flaticon-wedding-invitation:before { content: "\f12a"; }
.flaticon-wedding-invitation-1:before { content: "\f12b"; }