<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Wedding Invitation">
    <meta name="keywords" content="wedding,events,ceremony,couple,pear,love">
    <meta name="author" content="Appixe">

    <!-- Page Title -->
    <title> Kayshal &amp; Neelam Wedding </title>

    <!-- Favicon and Touch Icons -->
    <link href="images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    
    <!-- Icon fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/flaticon.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Plugins for this template -->
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
    <link href="css/owl.transitions.css" rel="stylesheet">
    <link href="css/jquery.fancybox.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

    <!-- All JavaScript files
    ================================================== -->
    <script src="js/angular.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom script for this template -->
    <script src="js/list.js"></script>
</head>

<body class="invitation-list">
    <div ng-app="myApp" ng-controller="GuestsCtrl"> 
    <!-- start rsvp -->
    <section class="rsvp section-padding parallax" data-bg-image="images/rsvp-bg.jpg" id="rsvp">
        <div class="">
            <div class="row section-title">
                <div class="title-box">
                    <div class="double-line double-line-top">
                        <i class="fi flaticon-social"></i>
                        <i class="fi flaticon-social"></i>
                    </div>
                    <h2>Your Guests</h2>
                    <div class="double-line double-line-bottom"></div>
                </div>
            </div> <!-- end of section-title -->

            <div class="row content">
                <div class="col col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <div class="rsvp-form-wrapper">
                        <div class="border-box">
                            <i class="fi flaticon-clip-1 top-clip"></i>
                            <i class="fi flaticon-clip-1 bottom-clip"></i>
                            <div></div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Attending</th>
                                        <th scope="col">Message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="guest in guests"> 
                                        <th scope="row">{{ $index + 1 }}</th>
                                        <td>{{ guest.Name }}</td>
                                        <td>{{ guest.Attending }}</td>
                                        <td>{{ guest.Message }}</td>
                                    </tr>
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end of container -->
    </section>
    <!-- end of rsvp -->

    </div>
</body>

</html>